* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    border: none;
    outline: none;
}
body{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 30, 85);
    flex-direction: column;
    gap:30px;
}

#addGit{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;
    width: auto;
    height: 30px;
}

#pesquisar{
    color: rgb(236, 227, 227);
    background: black;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.barra_pesquisa{
    height: 30px;
    width: 300px;
    padding-left: 10px;
}
.pagina{
    
}

h3{
    padding-top: 20px;
}